<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 글 상세보기 페이지 입니다. </h1>
    <hr/>
title:{{post.title}}  content:{{post.content}} <!-- 원래 title(변수)은 private라서 호출 못한다. 실제로는 getTitle을 때려준다.-->
</body>
</html>